body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  color: orange;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: orange 0 0 25px;
  text-align: center;
}
div#root {
  width: 100%;
  overflow: hidden;
}

button {
  font-size: 1em;
  color: orange;
  background: black;
  border: none;
}
button:focus {
  outline: 0;
}
h1 {
  font-size: 5em;    
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}
h2 {font-size: 2em}
h3 {font-size: .99em}
h4 {font-size: .66em}
h5 {font-size: .99em}
h6 {font-size: 2em}